<html>
	<head>
		<title>Weekend Weather</title>
	</head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
	<body>
		<h1>
			{{title}}
		</h1>
	{% for loc in locations %}
		{% if loc[0] == title and setdef_link %}
			<div class="end">
				<a class="slink" href="{{'/setdefault?' + loc[1]}}">(Set this to default)</a>
			</div>
		{% endif %}
	{% endfor %}
	<table>
		<col width="100px">
		<col width="50%">
		<col width="50%">
		<tr>
			<th>Day</th>
			<th>Chance of Precipitation</th>
			<th>High Temperature</th>
		</tr>
		{% for entry in result %}
		<tr>
			<td class="day">
				<p>
					{{ entry['day'] }} 
					<span>
						({{ entry['date'].strftime('%-m/%-d') }})
					</span>
				</p>
			</td>
			<td bgcolor={{ entry['rain']['color'] }}>
				<div class="main">{{ "%.0f" % entry['rain']['mean'] }}% </div> 
				<div class="secondary">&sigma;:{{ "%.1f" % entry['rain']['dev'] }}</div>
			</td>
			<td bgcolor={{ entry['temp']['color'] }}>
				<div class="main">{{ "%.0f" % entry['temp']['mean'] }}&degF</div>
				<div class="secondary">&sigma;: {{ "%.1f" % entry['temp']['dev'] }}</div>
			</td>
		</tr>
		{% endfor %}
	</table>
	<h1>Other Crags:</h1>
	{% for loc in locations %}
	{% if loc[0] != title %}<h1><a href="{{'/?' + loc[1]}}">{{loc[0]}}</a></h1>{% endif %}
	{% endfor %}
	<div class="end">Last Update: {{update.strftime("%b %-d, %H:%M:%S UTC")}}</div>
	</body>
</html>